#widget {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#avatar {
    width: 60%;
}

#keyword {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    font-size: 4.5vw;
}

p {
    margin-top: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#info {
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
}
